{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PDF Tool{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-slate-50 min-h-screen flex flex-col font-sans text-slate-900">

    {% include 'navbar.html' %}

    <main class="flex-grow flex items-center justify-center p-4">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

    {% block scripts %}
    {% endblock %}

</body>
</html>